# hugo gitignore

# ignore synthesised outputs
public/
resources/
static/r
static/rnf/
#ignore the apps deployed here
static/app/demos/
svelte/demos/static/r
svelte/demos/static/build
svelte/demos/static/.svelte-kit

# ignore npm or yarn generated postcss source files
node_modules/
package-lock.json
yarn.lock

# ignore the hugo & mrmxf build artifacts
.hugo_build.lock
clogrc/core

# ignore the tmp folder but not the readme inside it
tmp/*
!tmp/readme.md


#ignore mac cruft
**/*/.DS_Store
.DS_Store
# IDE files
.idea

# VS Code - keep these
#/.vscode/**
!/.vscode/cspell.json

# vim temporary files
*~
*.sw?
