# hugo gitignore


# ignore synthesised outputs
www-podserver/kodata
public/
resources/
static/r
static/rnf/
#ignore the apps deployed here
static/app/demos/
svelte/demos/static/r
svelte/demos/static/build
svelte/demos/static/.svelte-kit
.action-stash

# ignore npm or yarn generated postcss source files
node_modules/
package-lock.json
yarn.lock

# ignore tmp- files & tmp folder but not the readme inside it
tmp/
!tmp/readme.md
tmp-*

#ignore mac & wsl cruft
**/*/.DS_Store
.DS_Store
*Zone.Identifier
# IDE files
.idea

# VS Code - keep these
#/.vscode/**
#!/.vscode/cspell.json

# vim temporary files
*~
*.sw?

# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
go.work.sum

# env file
.env