{{/* --- block params -----(see partial o/block for html)----------------- */}}
{{/* ----------------------------------------------------------------------*/}}
{{/* ------ `id` is used to create an anchor ----------------------------- */}}
{{- $id := .Get "id" | default (printf "block-%d" .Ordinal) -}}
{{/* ------ `blockType` uses partial `o/block-<blockType>` -e.g-"include"- */}}
{{- $blockType := .Get "blockType" -}}
{{/* ------ `blockClass` prepends class names to the div------------------ */}}
{{- $blockClass := .Get "blockClass" | default "container" -}}
{{/* ------ `description` contains markdown body text--------------------- */}}
{{- $description := .Get "description" -}}
{{/* ------ `Inner` contains markdown and follows description------------- */}}
{{- $inner := .Inner -}}
{{/* ------ `header` is the markdown h1 text------------------------------ */}}
{{- $header := .Get "header" -}}
{{/* ------ `meta` is shown in grey below the header---------------------- */}}
{{- $meta := .Get "meta" -}}
{{/* --- src params -------------------------------------------------------*/}}
{{/* ------ `src` is the url to an image or video------------------------- */}}
{{- $src := .Get "src" -}}
{{/* ------ `srcId` is an id for and anchor or control code--------------- */}}
{{- $srcId := .Get "srcId" -}}
{{/* ------ `srcOn` is left | right | none-------------------------------- */}}
{{- $srcOn := .Get "srcOn" | default "left" -}}
{{/* ------ `srcWidth` is 0.0-1.0 & becomes "xxx wide" for grid control--- */}}
{{- $srcWidth := .Get "srcWidth" | default 0.3 -}}
{{- if not $src -}}{{ $srcWidth = 0.0 }}{{- end -}}
{{/* ------ `srcLink` is the href for clicking the image------------------ */}}
{{- $srcLink := .Get "srcLink" -}}
{{/* ------ `srcClass` prepends class names to the div-------------------- */}}
{{- $srcClass := .Get "srcClass" | default "ui image" -}}
{{/* ------ `srcPoster` is the poster url for a videov-------------------- */}}
{{- $srcPoster := .Get "srcPoster" -}}
{{/* --- src logic --------------------------------------------------------*/}}
{{- $srcIsVideo := false -}}
{{- $srcIsImage := false -}}
{{- with $src -}}
{{ $ext := strings.ToLower (path.Ext $src) }}
{{ $imgExt := slice ".jpg" ".jpeg" ".png" ".webp" ".gif" ".svg"}}
{{ $vidExt := slice ".mp4" ".mkv" }}
{{ $srcIsVideo = in $vidExt $ext }}
{{ $srcIsImage = in $imgExt $ext }}
{{- end -}}
{{/* --- src width for grid ----------------------------------------------*/}}
{{- $slice := slice "zero" "one" "two" "three" "four" "five" "six" "seven" "eight" "nine" "ten" "eleven" "twelve" "thirteen" "fourteen" "fifteen" "sixteen" -}}
{{- $type := printf "%T" $srcWidth }}
{{- if ne $type "float64" }}{{ $srcWidth = 0.3}}{{ end -}}
{{- $r := math.Round ( mul 16.0 $srcWidth ) -}}
{{- $r = math.Min 16 ( math.Max 0 $r ) | int -}}
{{- $srcGrid := printf "%s wide" (index $slice $r) }}
{{- $txtGrid := printf "%s wide" (index $slice ( sub 16 $r )) }}
{{/* --- select the correct partial ---------------------------------------*/}}
{{- $d := dict "id" $id "blockType" $blockType "blockClass" $blockClass "description" $description -}}
{{/* --- populate the dict for the partial --------------------------------*/}}
{{- $d = merge $d (dict "inner" $inner "header" $header "meta" $meta) -}}
{{- $d = merge $d (dict "src" $src "srcId" $srcId "srcOn" $srcOn) -}}
{{- $d = merge $d (dict "srcGrid"  $srcGrid "txtGrid" $txtGrid "srcLink" $srcLink) -}}
{{- $d = merge $d (dict "srcClass" $srcClass "srcPoster" $srcPoster) -}}
{{- $d = merge $d (dict "srcIsVideo" $srcIsVideo "srcIsImage" $srcIsImage) -}}
{{- $partialName := "o/block" -}}
{{- if $blockType }}{{ $partialName = printf "%s-%s" $partialName . }}{{ end -}}
{{- partial $partialName $d -}}
