{{/*
Shortcode to render a full cover page as HTML (use angle brackets)

Usage:
{{< cover-image title="thePageTitle" imageUrl="/img/some/online/file.svg" logoPath="static/img/some/content.png"
  height="full" color="dark" scrollTo="#td-block-1" btn1="Project" url1="/docs" btn2="Technology"
  url2="/docs/technology" blogbtn="yes">}}
  ## Some Heading text to display
  {{< /cover-image>}}
    */}}
    {{ $backgroundImage := .Get "src" }}

    <style>
      .choochoo {
        background-image: url("{{ $backgroundImage }}");
        background-repeat: repeat-x;
        background-position: top;
        min-height: 120px;
      }
    </style>

    <div class = "ui segment ">
      <div class = "choochoo">
        {{ .Inner | markdownify }}
      </div>
    </div>