{{/*

  Include another page as a block  File path is relative to project root

  e.g.
    {{< include        "content/docs/backers.md" >}}
    {{< include file = "content/docs/backers.md" >}}

    Note that one of these will be empty
    .Page.GetPage
    .Site.GetPage
*/}}
{{- $f := .src -}}
{{- if not $f }}{{ $f := .Get "file" }}{{ end -}}
{{/* --- create a page object for the included page ---------------------- */}}
{{- $p := .Page.GetPage $f }}
{{- if .Site.GetPage $f }}{{- $p = .Page.GetPage $f }}{{end -}}
{{/* --- get the page title ---------------------------------------------- */}}
{{/* --- detect a featured image ----------------------------------------- */}}
{{ $imgSrc := "" }}
{{ $image := ($p.Resources.ByType "image").GetMatch "**featured*" }}
{{ if $image }}{{ $imgSrc = $image.RelPermalink }}{{ end }}
{{ end }}
{{/* --- update the dict for the block -----------------------------------*/}}
{{- $d := merge . (dict "inner" $inner) -}}
{{- partial "o/block" $d -}}
